<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-3">
    <a class="navbar-brand" href="#">System Wspomagania Lasów Państwowych</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Strona główna</a>
        </li>
      </ul>
    </div>
    <div class="nav-item">Pracownik leśnictwa 👤</div>
  </nav>

  <router-outlet></router-outlet>
</div>
