<div style="width: 400px; margin: auto;">
  <h2>Dodawanie akcji wycinki</h2>
  <form [formGroup]="deforestationForm" (ngSubmit)="saveDeforestation(content)" novalidate>
    <div class="form-group">
      <label>Obszar</label>
      <app-map [height]="350"></app-map>

      <label for="start_date">Termin rozpoczęcia</label>
      <input
        type="text"
        class="form-control"
        id="start_date"
        required
        formControlName="start_date"
        name="start_date"
        placeholder="dd-mm-yyyy"
        appDate
      />
      <div
        *ngIf="submitted && deforestationForm.get('start_date').invalid && deforestationForm.get('start_date').hasError('required')"
        class="alert alert-danger">
        <div>Uzupełnij pole</div>
      </div>
      <div
        *ngIf="submitted && deforestationForm.get('start_date').invalid && deforestationForm.get('start_date').hasError('invalidDate')"
        class="alert alert-danger">
        <div>Zły format daty</div>
      </div>

      <label for="end_date">Termin Zakończenia</label>
      <input
        type="text"
        class="form-control"
        id="end_date"
        required
        formControlName="end_date"
        name="end_date"
        placeholder="dd-mm-yyyy"
        appDate
      />
      <div
        *ngIf="submitted && deforestationForm.get('end_date').invalid && deforestationForm.get('end_date').hasError('required')"
        class="alert alert-danger">
        <div>Uzupełnij pole</div>
      </div>
      <div
        *ngIf="submitted && deforestationForm.get('end_date').invalid && deforestationForm.get('end_date').hasError('invalidDate')"
        class="alert alert-danger">
        <div>Zły format daty</div>
      </div>

      <label for="plant_type">Gatunek Drzew</label>
      <select name="plant_type" id="plant_type" class="form-control"
              formControlName="plant_type">
        <option [value]="1">Sosna</option>
        <option [value]="2">Świerk</option>
        <option [value]="3">Jodła</option>
        <option [value]="4">Klon</option>
        <option [value]="5">Brzoza</option>
        <option [value]="6">Dąb</option>
      </select>
      <div *ngIf="submitted && deforestationForm.get('plant_type').invalid" class="alert alert-danger">
        <div *ngIf="deforestationForm.get('plant_type').hasError('required')">Uzupełnij pole</div>
      </div>

      <label for="number_of_trees">Liczba drzew</label>
      <input
        type="number"
        class="form-control"
        id="number_of_trees"
        required
        formControlName="number_of_trees"
        name="number_of_trees"
      />
      <div *ngIf="submitted && deforestationForm.get('number_of_trees').invalid" class="alert alert-danger">
        <div *ngIf="deforestationForm.get('number_of_trees').hasError('required')">Uzupełnij pole</div>
      </div>

      <div class="button-row margin-top">
        <button type="button" class="btn btn-outline-secondary" [routerLink]="'/planned-actions-list/' + forestryId">
          Anuluj
        </button>
        <button type="submit" class="btn btn-success">Zatwierdź</button>
      </div>
    </div>
  </form>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Potwierdzenie</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Czy dodać wycinkę do listy zaplanowanych akcji leśniczych?</p>
  </div>
  <div class="modal-footer">
    <div class="button-row">
      <button type="button" class="btn btn btn-outline-secondary" (click)="modal.dismiss()">Anuluj</button>
      <button type="button" class="btn btn-primary" (click)="modal.close()">Potwierdź</button>
    </div>
  </div>
</ng-template>
